body {
	font: 16px sans-serif,sans-serif;
	margin: 0 auto;
	width: 70%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header pre {
	font-weight: bold; 
	font-size: 12px;
}

form {
	margin: 0 auto;
	width: 100%;
}

input {
	padding: 12px;
	resize: vertical;
}

.selected {color: black;}
